@import '_imports';

.credential-panel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    margin-bottom: 25px;

    .credential-pane {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 30%;
        height: 130px;

        background: $white;
        border-radius: 20px;

        cursor: pointer;

        .icon {
            margin-right: 10px;
        }

        &:hover {
            span {
                text-shadow: 1px 4px 12px $grey-light;
            }
        }

        &.disabled {
            display: none;
        }
    }
}

@media (max-width: 575px) {
    .credential-panel {
        .credential-pane {
            width: 100%;
        }
    }
}