<div class="add-credential">
    <h2>What are we adding today?</h2>
    <div class="credential-panel">
        <div class="credential-pane" [routerLink]="['/credentials/add/google/signin']">
            <i class="icon"><img src='assets/svg/google_icon.svg' alt="Google icon"/></i> 
            <span>Sign in with Google</span>
        </div>
        <div class="credential-pane disabled">

        </div>
        <div class="credential-pane disabled">

        </div>
        <div class="credential-pane disabled">

        </div>
        <div class="credential-pane disabled">

        </div>
        <div class="credential-pane disabled">

        </div>
        <div class="credential-pane disabled">

        </div>
        <div class="credential-pane disabled">

        </div>
        <div class="credential-pane disabled">

        </div>
    </div>
</div>
