<div class="add-credential">
    <h2>What are we adding today?</h2>
    <div class="credential-panel">
        <div class="credential-pane" [routerLink]="['/credentials/oauth/signin']" [queryParams]="{ type: 'google' }">
            <i class="icon"><img width="44" src='assets/svg/google_icon.svg' alt="Google icon"/></i> 
            <span>Sign in with Google</span>
        </div>
        <div class="credential-pane" [routerLink]="['/credentials/oauth/signin']" [queryParams]="{ type: 'microsoft' }">
            <i class="icon"><img width="44" src='assets/svg/Microsoft_logo.svg' alt="Github icon"/></i> 
            <span>Sign in with Microsoft</span>
        </div>
        <div class="credential-pane" [routerLink]="['/credentials/poap']" [queryParams]="{ type: 'poap' }">
            <i class="icon"><img width="44" src='assets/svg/poap_logo.svg' alt="POAP icon"/></i> 
            <span>Claim POAPs</span>
        </div>
        <div class="credential-pane" [routerLink]="['/credentials/raid-guild']" [queryParams]="{ type: 'raidguild-membership' }">
            <i class="icon"><img height="30" src='assets/svg/raidguild_logo.svg' alt="Raid Guild Logo"/></i> 
            <span>Raid Guild Membership</span>
        </div>
        <div class="credential-pane disabled">

        </div>
        <div class="credential-pane disabled">

        </div>
        <div class="credential-pane disabled">

        </div>
        <div class="credential-pane disabled">

        </div>
        <div class="credential-pane disabled">

        </div>
    </div>
</div>
