<div class="sign-in">
    <div class="sign-in-steps">
        <ul>
            <li [ngClass]="getClassForStep(1)">
                <span>Start with the {{provider}} sign in process</span>
            </li>
            <li [ngClass]="getClassForStep(1)">
                <i class="spacer spacer-1"></i>
                <i class="spacer spacer-2"></i>
                <i class="spacer spacer-3"></i>
                <i class="spacer spacer-4"></i>
            </li>
            <li [ngClass]="getClassForStep(2)">
                <span>You will be redirected to sign in with {{provider}}</span>
            </li>
            <li [ngClass]="getClassForStep(2)">
                <i class="spacer spacer-1"></i>
                <i class="spacer spacer-2"></i>
                <i class="spacer spacer-3"></i>
                <i class="spacer spacer-4"></i>
            </li>
            <li [ngClass]="getClassForStep(3)">
                <span>You will come back to the WIDE portal</span>
            </li>
            <li [ngClass]="getClassForStep(3)">
                <i class="spacer spacer-1"></i>
                <i class="spacer spacer-2"></i>
                <i class="spacer spacer-3"></i>
                <i class="spacer spacer-4"></i>
            </li>
            <li [ngClass]="getClassForStep(4)">
                <span>You will encrypt the data</span>
            </li>
            <li [ngClass]="getClassForStep(4)">
                <i class="spacer spacer-1"></i>
                <i class="spacer spacer-2"></i>
                <i class="spacer spacer-3"></i>
                <i class="spacer spacer-4"></i>
            </li>
            <li [ngClass]="getClassForStep(5)">
                <span>You will confirm upload</span>
            </li>
        </ul>
    </div>
    <ng-content></ng-content>
</div>