<div class="sign-in">
    <div class="sign-in-steps">
        <h3>Sign in with {{provider}}</h3>
        <ul>
            <li [ngClass]="getClassForStep(1)">
                <span>Start the google Signin process</span>
            </li>
            <li [ngClass]="getClassForStep(1)">
                <i class="spacer spacer-1"></i>
                <i class="spacer spacer-2"></i>
                <i class="spacer spacer-3"></i>
                <i class="spacer spacer-4"></i>
            </li>
            <li [ngClass]="getClassForStep(2)">
                <span>Sign in on Google</span>
            </li>
            <li [ngClass]="getClassForStep(2)">
                <i class="spacer spacer-1"></i>
                <i class="spacer spacer-2"></i>
                <i class="spacer spacer-3"></i>
                <i class="spacer spacer-4"></i>
            </li>
            <li [ngClass]="getClassForStep(3)">
                <span>Return to WIDE</span>
            </li>
            <li [ngClass]="getClassForStep(3)">
                <i class="spacer spacer-1"></i>
                <i class="spacer spacer-2"></i>
                <i class="spacer spacer-3"></i>
                <i class="spacer spacer-4"></i>
            </li>
            <li [ngClass]="getClassForStep(4)">
                <span>Encrypt your credentials</span>
            </li>
            <li [ngClass]="getClassForStep(4)">
                <i class="spacer spacer-1"></i>
                <i class="spacer spacer-2"></i>
                <i class="spacer spacer-3"></i>
                <i class="spacer spacer-4"></i>
            </li>
            <li [ngClass]="getClassForStep(5)">
                <span>Upload data to WIDE</span>
            </li>
        </ul>
        <ng-content></ng-content>
    </div>
</div>