<div class="content">
    <h2>Sign in with Google</h2>
    <app-google-signin-procedure [activeStep]="activeStep">
        <div class="buttons">
            <button (click)="uploadData()" *ngIf="activeStep == 5"><i *ngIf="uploading"
                    class="mdi mdi-loading rotate-mdi"></i> <span *ngIf="!uploading">Upload to WIDE</span></button>
            <button class="btn-alt" *ngIf="activeStep == 5" (click)="toggleDataDetailModal()">View Data</button>
            <button [routerLink]="['/']" *ngIf="activeStep == 6">Return to Home</button>
        </div>
    </app-google-signin-procedure>
</div>
<app-wide-modal [showModal]="showDataDetailModal">
    <div content class="google-credentials">
        <h3>Encrypted Data</h3>
        <p>This is the raw data that will be sent to WIDE</p>
        <div class="scrollable">
            <pre><p>{{this.data | json}}</p></pre>
        </div>
    </div>
    <div buttons>
        <button (click)="closeModal()">Close</button>
    </div>
</app-wide-modal>