@import '_imports';

.content {
    margin-bottom: 25px;
}

.buttons {
    margin-top: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.test {
    width: 15px;
    height: 15px;
    background: fuchsia;
    display: block;
}