<h1>Fonts</h1>
<hr>
<h1>Big Headline</h1>
<h2>Middle Headline</h2>
<h3>Mini Headline</h3>
<h4>Body 1</h4>
<p class="important">Body 2</p>
<p class="active">Body 3</p>
<p class="info-text">Body 4</p>
<p class="body-5">Body 5</p>
<button>Buttons</button>

<h1>Colours</h1>
<hr>
<h2>Main</h2>
<div class="swatches">
    <div class="color-swatch light-beige">$light-beige</div>
    <div class="color-swatch brown">$brown</div>
    <div class="color-swatch white">$white</div>
</div>
<h2>Gradients</h2>
<div class="swatches">
    <div class="color-swatch grad-3">$gradient-3</div>
    <div class="color-swatch grad-4 text-white">$gradient-4</div>
</div>
<h2>Gradient Components</h2>
<div class="swatches">
    <div class="color-swatch yellow">$yellow</div>
    <div class="color-swatch coral">$coral</div>
    <div class="color-swatch peach">$peach</div>
    <div class="color-swatch pink">$pink</div>
</div>
<h2>Secondary</h2>
<div class="swatches">
    <div class="color-swatch grey-light">$grey-light</div>
    <div class="color-swatch grey-dark">$grey-dark</div>
</div>

<h1>Buttons</h1>
<hr>
<h2>Standard</h2>
<div class="button-set">
    <button class="btn-lg" (click)="buttonClick('btn-lg')">btn-lg</button>
    <button (click)="buttonClick('default')">default</button>
    <button class="btn-sm" (click)="buttonClick('btn-sm')">btn-sm</button>
    <button class="btn-xs" (click)="buttonClick('btn-xs')">btn-xs</button>
</div>
<h2>White</h2>
<div class="button-set">
    <div class="btn-white">
        <button class="btn-lg" (click)="buttonClick('btn-lg')">btn-lg</button>
    </div>
    <div class="btn-white">
        <button (click)="buttonClick('default')">default</button>
    </div>
    <div class="btn-white">
        <button class="btn-sm" (click)="buttonClick('btn-sm')">btn-sm</button>
    </div>
    <div class="btn-white">
        <button class="btn-xs" (click)="buttonClick('btn-xs')">btn-xs</button>
    </div>
</div>