@import '_imports';

span.encrypted {
    width: 80%;
    height: 24px;
    line-height: 24px;
    background-color: $coral;
    display: inline-flex;
    opacity: 0.8;
    color: $white;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;

    .icon {
        display: block;
        margin-left: 5px;
    }
}