/* MAIN COLORS */
$light-beige: #FAF7F6;
$brown: #3E1B07;
$white: #FFF;
$black: #000;
$off-white: #F2F2F2;

/* SECONDARY */
$grey-dark: #727272;
$grey-light: #CBCBCB;
$brown-light: #A1928A;
$salmon-light: #FF947A;

/* GRADIENT COMPONENT */
$coral: #FF7872;
$yellow: #FFC586;
$peach: #FCAB90;
$pink: #F57F9F;

$light-yellow: #FFF8F0;
$light-coral: #FFF2F1;

/* GRADIENT */
$gradient-3: linear-gradient(60deg, $yellow, 25%, $coral, 75%, $pink);
$gradient-4: linear-gradient(60deg, $coral, 5%, $yellow, 40%, $peach, 80%, $pink);

/* ACTIONS */
$green: #77D058;
$light-green: #EBFAE6;
$blue: #8AB9FF;
$light-blue: #F2F7FF;

$info: $blue;
$success: $green;
$error: $coral;

.text-coral {
    color: $coral;
}

.text-success {
    color: $success;
}

.coral {
    color: $light-beige;
    background: $coral;
}

.success {
    color: $light-beige;
    background: $success;
}