@import 'imports';

.dao {
    color: $black;
    background: #FAF7F680;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 5%;

    .dao-property {
        color: $black;
        display: flex;
    }
}