<div class="poap-fetch" *ngIf="!poap.data">
    <i class="spinner mdi mdi-loading rotate-mdi text-coral"></i> Fetching data for POAP {{poap.id}}
</div>
<div class="poap-fetch" *ngIf="poap.data">
    <div class="poap" [ngClass]="poap.expanded ? 'expanded' : ''">
        <div class="poap-header">
            <div class="w-5">
                <span class="poap-arrow" [ngClass]="poap.expanded ? 'expanded' : ''" (click)="expand(poap)">
                    <img src="/assets/svg/arrow.svg" />
                </span>
            </div>
            <div class="w-20" (click)="expand(poap)">
                {{poap.created | unixTimestamp | date:'dd-MMM-yyyy HH:mm'}}
            </div>
            <div class="w-60 align-left" (click)="expand(poap)">
                {{poap.data.name}}
            </div>
            <div class="w-15">
                <span class="link-icon">
                    <a [href]="poap.data.home_url" target="_blank"><i class="mdi mdi-open-in-new text-coral"></i></a>
                </span>
                <button class="btn-xs" (click)="claimPoap(poap)">Import</button>
            </div>
        </div>
        <div class="poap-expanded" *ngIf="poap.expanded">
            <app-poap-detail [poap]="this.poap" [provider]="this.provider"></app-poap-detail>
        </div>
    </div>
</div>