@import 'imports';

.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background: $light-beige;

    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .logo-wrapper {
        margin-top: 20px;
        margin-bottom: 60px;
    }

    p.align-left {
        width: 100%;
    }

    .credentials-panel {
        background: $white;
        width: 100%;
        padding: 25px;

        text-align: left;

        border-radius: 5px;

        margin-bottom: 40px;

        ul {
            padding: 0;
            margin-top: 0;
            list-style-type: none;

            li {
                line-height: 30px;
            }
        }

        .separator {
            position: relative;
            margin-right: 10px;
            app-tooltip {
                position: absolute;
                bottom: 10px;
                left: 0;
            }
        }

        .credential-enumeration {
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .decrypt-message {
            background: $light-blue;
            padding: 10px;
            border-radius: 10px;
        }

        .decrypt-panel {
            text-align: center;
        }

        .credentials-items {
            i.encrypted {
                color: $coral;
            }
            i.decrypted {
                color: $green;
            }

            li {
                cursor: pointer;

                &:hover {
                    color: $coral;
                }
            }
        }
    }
}

.buttons, .modal-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.buttons.vertical {
    flex-direction: column;
}