@import 'imports';

.content {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background: $light-beige;

    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .logo-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;

        .logo-rp {
            max-height: 80px;
        }
    }

    p.align-left {
        width: 100%;
    }

    .credentials-panel {
        width: 100%;
        padding: 25px;

        text-align: left;

        border-radius: 5px;

        margin-bottom: 40px;

        .scroll {
            max-height: 50vh;
            overflow: auto;

            .credential {
                background: $white;

                padding: 15px;
                margin-bottom: 10px;
                margin-right: 15px;
                margin-top: 0;
                border-radius: 15px;
                list-style-type: none;

                &:hover {
                    box-shadow: 0px 3px 8px rgba(62, 27, 7, 0.1);
                    cursor: pointer;
                }
            }
        }
    }
}

.buttons,
.modal-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.buttons.vertical {
    flex-direction: column;
}

.credential-modal {
    color: $black;
    background: $white;
    padding-top: 25px;
    padding-bottom: 25px;

    .scrollable {
        background: $light-beige;
        max-height: 60vh;
        overflow-y: auto;

        .credential-property {
            color: $black;
            border-bottom: 1px solid $light-coral;

            color: $grey-dark;
            display: flex;
            align-items: center;
            min-height: 40px;

            padding-left: 15px;
            padding-right: 15px;

            .label {
                text-align: left;
            }
        }
    }

}

@media (max-width: 575px) {
    .content {

        padding: 0 50px;
        width: 100%;
        box-sizing: border-box;

        .logo-wrapper {
            img {
                width: 100%;
            }
        }

    }

    .buttons,
    .modal-buttons {
        flex-direction: column;
    }
}