@import '_imports';

.main {

    .credentials {
        position: relative;
        background: $white;
        border-radius: 15px;
        padding: 10px 25px 10px 25px;
        min-height: 250px;

        .header,
        .credential-header,
        .credential-property {
            color: $grey-dark;
            display: flex;
            align-items: center;
            height: 40px;

            padding-left: 15px;
            padding-right: 15px;

            .label {
                text-align: left;
            }
        }

        .credential {
            border-radius: 10px;
            &.expanded {
                box-shadow: 0px 3px 8px 0px #3E1B071A;
                margin-bottom: 15px;
            }

            .credential-header {
                color: $black;
    
                height: 60px;
    
                .cred-arrow {

                    cursor: pointer;
    
                    &.expanded {
                        img {
                            transform: rotate(180deg);
                        }
                    }
                }

                .issuer-label {
                    cursor: pointer;
                }
            }

            .credential-expanded {
                color: $black;
                background: #FAF7F680;
                padding-top: 25px;
                padding-bottom: 25px;

                .credential-property {
                    color: $black;
                }
            }
        }

        .panel-message {
            width: 100%;
            position: relative;
            display: inline-block;
            text-align: center;
            top: 90px;
            border-radius: 5px;

            &.info {
                background: $info;
                color: $white;
            }

            &.error {
                background: $error;
                color: $white;
            }
        }
    }

    .buttons {
        margin-top: 30px;
    }
}

.issuer-details{
    max-height: 600px;

    .scrollable {
        width: 100%;
        max-height: 400px;
        overflow: auto;
        background: $light-beige;
        padding: 10px;
        border-radius: 10px;;

        p {
            text-align: left;
        }
    }

    margin-bottom: 20px;
}