@import '_imports';

.nav-menu {
    position: relative;
    top: 0;

    margin: 0;

    background: $gradient-3;

    width: 260px;
    height: 100%;
    min-height: 100vh;
    overflow-y: auto;

    @media (max-width: 1200px) {
        width: 60px; // Adjust the width as needed for smaller screens
    }

    .content {
        padding-top: 70px;
        padding-bottom: 0;
        padding-left: 25px;
        position: relative;
        height: 100%;
        overflow: auto;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @media (max-width: 1200px) {
            padding-left: 0; // Adjust the width as needed for smaller screens
        }

        .wide-logo {
            width: 100%;

            &.small {
                display: none;
            }

            @media (max-width: 1200px) {
                text-align: center;
                display: none;
                &.small {
                    display: block;
                }
            }

            img {
                width: 60%;
            }
        }

        ul.items {
            padding: 0;
            list-style: none;

            font-size: 16px;
            font-weight: 500;

            &.top {
                padding-top: 40px;
                margin-bottom: auto;
            }

            li {
                overflow: hidden;
                position: relative;
            }
        }
    }
}