<div class="nav-menu">
    <div class="content">
        <div class="wide-logo">
            <img src="assets/svg/wide_logo_white.svg" />
        </div>
        <ul class="items top">
            <li *ngFor="let item of menuItems">
              <app-nav-menu-item [url]="item.url" [text]="item.text" [class]="item.iconClass"></app-nav-menu-item>
            </li>
          </ul>

        <ul class="items bottom">
            <li><app-nav-menu-item url="/about" text="About WIDE" [class]="'mdi mdi-information'"></app-nav-menu-item></li>
            <li><app-nav-menu-item url="/support" text="Support" [class]="'mdi mdi-lifebuoy'"></app-nav-menu-item></li>
            <li class="m-t-25"><app-nav-menu-item url="/" (menuItemClickEvent)="logout($event)" [class]="'mdi mdi-logout'" text="Log Out"></app-nav-menu-item></li>
        </ul>
    </div>
</div>