<div class="content">
    <h2>Sign in with {{oauthName}}</h2>
    <app-oauth-procedure-ui [activeStep]="activeStep" [provider]="oauthName">
        <div class="custom-label">
            <h3>Name your Credential</h3>
            <p class="info"><i class="mdi mdi-alert"></i> This Data will be shared with WIDE. Please DO NOT put in sensitive information!</p>
            <p>If you would like to identify this credential more easily, please update its name</p>
            <app-wide-input id="textbox" label="Credential Name" name="textbox" [(ngModel)]="data.issuer.label"></app-wide-input>
        </div>
        <div class="buttons">
            <button (click)="uploadData()" *ngIf="activeStep == 5"><i *ngIf="uploading"
                    class="mdi mdi-loading rotate-mdi"></i> <span *ngIf="!uploading">Upload to WIDE</span></button>
            <button class="btn-alt" *ngIf="activeStep == 5" (click)="toggleDataDetailModal()">View Encrypted Data</button>
            <button [routerLink]="['/']" *ngIf="activeStep == 6">Return to Home</button>
        </div>
    </app-oauth-procedure-ui>
</div>
<app-wide-modal [showModal]="showDataDetailModal">
    <div content class="oauth-credentials">
        <h3>Encrypted Data</h3>
        <p>This is the raw data that will be sent to WIDE</p>
        <div class="scrollable">
            <pre><p>{{this.data | json}}</p></pre>
        </div>
    </div>
    <div buttons>
        <button (click)="closeModal()">Close</button>
    </div>
</app-wide-modal>