<div class="content">
    <h2>Sign in with Google</h2>
    <app-google-signin-procedure [activeStep]="4">
        <div class="buttons">
            <button *ngIf="profile" (click)="encryptData()">Encrypt</button>
            <button *ngIf="profile" class="btn-alt" (click)="toggleProfileDetailModal()">View Credentials</button>
        </div>
    </app-google-signin-procedure>
</div>
<app-wide-modal [showModal]="showProfileDetailModal">
    <div content class="google-credentials">
        <h3>Google Profile Data</h3>
        <p>This is the raw data you received from by Google.</p>
        <p>WIDE does not have access to this data.</p>
        <div class="scrollable">
            <pre><p>{{profile | json}}</p></pre>
        </div>
    </div>
    <div buttons>
        <button (click)="closeModal()">Close</button>
    </div>
</app-wide-modal>