@import 'imports';

.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background: $light-beige;

    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .logo-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;

        .logo-rp {
            max-height: 80px;
        }
    }

    p.align-left {
        width: 100%;
    }

    .credentials-panel {
        background: $white;
        width: 100%;
        padding: 25px;

        text-align: left;

        border-radius: 5px;

        margin-bottom: 40px;

        ul {
            list-style-type: none;
        }
    }
}

.buttons, .modal-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.buttons.vertical {
    flex-direction: column;
}

.processed-credential-details{
    max-height: 600px;

    .scrollable {
        width: 100%;
        max-height: 400px;
        overflow: auto;
        background: $light-beige;
        padding: 10px;
        border-radius: 10px;;

        p {
            text-align: left;
        }
    }

    margin-bottom: 20px;
}