<div class="content">
    <div class="logo-wrapper">
        <img class="logo" src="assets/svg/wide_logo_gradient.svg" />
    </div>
    <h2>Import Credentials to WIDE</h2>
    <p>An external provider wants to add a credential to your WIDE account. This request originated from {{referrer}}.</p>
    <p>If you did not trigger this process, please close the popup.</p>
    <p>Please connect your wallet associated with WIDE to proceed or click 'Get Started' to get on board.</p>
    <div class="buttons">
        <button (click)="connectWallet()">Connect wallet</button>
    </div>
</div>